<a href="https://colab.research.google.com/github/LinaSanchez04/Taller1/blob/main/ETL_CON_PYTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install colab-xterm

Collecting colab-xterm
  Downloading colab_xterm-0.2.0-py3-none-any.whl (115 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 115.6/115.6 kB 4.2 MB/s eta 0:00:00
Requirement already satisfied: ptyprocess~=0.7.0 in /usr/local/lib/python3.10/dist-packages (from colab-xterm) (0.7.0)
Requirement already satisfied: tornado>5.1 in /usr/local/lib/python3.10/dist-packages (from colab-xterm) (6.3.1)
Installing collected packages: colab-xterm
Successfully installed colab-xterm-0.2.0

In [ ]:
%load_ext colabxterm
%xterm

Inicio del proyecto en cuestión.

In [ ]:
# -*- coding: utf-8 -*-
"""proceso etl2.ipynb

Automatically generated by Colaboratory.

Original file is located at
    https://colab.research.google.com/drive/1jikFZTCoOww1HLOa41Epi6kfHXJ777uL
"""

import pandas as pd

# Extract: leer datos de una URL
url = 'https://people.sc.fsu.edu/~jburkardt/data/csv/airtravel.csv'
df = pd.read_csv(url)

print(df)

   Month   "1958"   "1959"   "1960"
0    JAN      340      360      417
1    FEB      318      342      391
2    MAR      362      406      419
3    APR      348      396      461
4    MAY      363      420      472
5    JUN      435      472      535
6    JUL      491      548      622
7    AUG      505      559      606
8    SEP      404      463      508
9    OCT      359      407      461
10   NOV      310      362      390
11   DEC      337      405      432

In [ ]:
# Transform: realizar algunas operaciones de procesamiento de datos
df['promedio'] = (df[' "1958"'] + df[' "1959"'] + df[' "1960"'])/3

print(df)

df = df[df[' "1960"'] > 450]
df = df.dropna()
df = df.rename(columns={' "1958"': 'año 1958', ' "1959"': 'año 1959', ' "1960"': 'año 1960'})

print(df)

df = df.rename(columns={'Month':'Mes'})

print(df)

   Month   "1958"   "1959"   "1960"    promedio
0    JAN      340      360      417  372.333333
1    FEB      318      342      391  350.333333
2    MAR      362      406      419  395.666667
3    APR      348      396      461  401.666667
4    MAY      363      420      472  418.333333
5    JUN      435      472      535  480.666667
6    JUL      491      548      622  553.666667
7    AUG      505      559      606  556.666667
8    SEP      404      463      508  458.333333
9    OCT      359      407      461  409.000000
10   NOV      310      362      390  354.000000
11   DEC      337      405      432  391.333333
  Month  año 1958  año 1959  año 1960    promedio
3   APR       348       396       461  401.666667
4   MAY       363       420       472  418.333333
5   JUN       435       472       535  480.666667
6   JUL       491       548       622  553.666667
7   AUG       505       559       606  556.666667
8   SEP       404       463       508  458.333333
9   OCT       359       407       461  409.000000
   Mes  año 1958  año 1959  año 1960    promedio
3  APR       348       396       461  401.666667
4  MAY       363       420       472  418.333333
5  JUN       435       472       535  480.666667
6  JUL       491       548       622  553.666667
7  AUG       505       559       606  556.666667
8  SEP       404       463       508  458.333333
9  OCT       359       407       461  409.000000

In [ ]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (2.0.18)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (2.0.2)

In [ ]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.10/dist-packages (8.1.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in /usr/local/lib/python3.10/dist-packages (from mysql-connector-python) (4.21.12)

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# Establecer la cadena de conexión
connection_string = "mysql+mysqlconnector://uyf9yrlddngovezc:vOZ3oMGA8yJwnq0uCRqY@bqdlmmdw5ozlv0csfycw-mysql.services.clever-cloud.com:3306/bqdlmmdw5ozlv0csfycw"

# Crear la conexión con SQLAlchemy
engine = create_engine(connection_string)

# Nombre de la tabla que quieres crear
etl_bi_gm = 'etl_bi'  # Puedes cambiar 'nombre_de_la_tabla' por el nombre que desees

# Crear la tabla en la base de datos
df.to_sql(name=etl_bi_gm, con=engine, if_exists='replace', index=False)

7